PDSC-Haystack/Xsd/Controls.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Controls">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Control">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DotNetType" type="xs:string" />
              <xs:element name="TemplateSubFolder" type="xs:string" />
              <xs:element name="ControlFileName" type="xs:string" />
              <xs:element name="PropertyName" type="xs:string" />
              <xs:element name="ControlPrefix" type="xs:string" />
              <xs:element name="ControlSuffix" type="xs:string" />
              <xs:element name="IsDefault" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>