PDSC-Haystack/Xsd/CopyAfterGen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CopyAfterGen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="CopyInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CopyFrom" type="xs:string" />
              <xs:element name="CopyTo" type="xs:string" />
              <xs:element name="GroupId" type="xs:string" />
              <xs:element name="IsSelected" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>