PDSC-Haystack/Xsd/DBTypesExcludes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataTypeExcludes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Excludes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
              <xs:element name="DataType" type="xs:string" />
              <xs:element name="IsSelectable" type="xs:boolean" />
              <xs:element name="IsInsertable" type="xs:boolean" />
              <xs:element name="IsUpdatable" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>