PDSC-Haystack/Xsd/DotNetTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DotNetTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DotNetType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DotNetType" type="xs:string" />
              <xs:element name="LanguageType" type="xs:string" />
              <xs:element name="NullableLanguageType" type="xs:string" />
              <xs:element name="GenericType" type="xs:string" />
              <xs:element name="Prefix" type="xs:string" />
              <xs:element name="IsNullableType" type="xs:string" />
              <xs:element name="DefaultValue" type="xs:string" />
              <xs:element name="DefaultValueNullable" type="xs:string" />
              <xs:element name="DefaultValueGlobal" type="xs:string" />
              <xs:element name="DefaultValueGlobalNullable" type="xs:string" />
              <xs:element name="SearchOperator" type="xs:string" />
              <xs:element name="SearchWildCard" type="xs:string" />
              <xs:element name="ValueForNull" type="xs:string" />
              <xs:element name="ValueForNullAsString" type="xs:string" />
              <xs:element name="ConvertMethod" type="xs:string" />
              <xs:element name="GetNetTypeMethod" type="xs:string" />
              <xs:element name="HTML5Type" type="xs:string" />
              <xs:element name="JavaScriptDefault" type="xs:string" />
              <xs:element name="MVCMethod" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>