PDSC-Haystack/Xsd/HaystackDBUpdate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DBUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Update">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="Version" type="xs:string" />
                <xs:element name="SQL" type="xs:string" />
                <xs:element name="SchemaName" type="xs:string" />
                <xs:element name="TableName" type="xs:string" />
                <xs:element name="NewColumnName" type="xs:string" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>