PDSC-Haystack/Xsd/Languages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Languages">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Language">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Code" type="xs:string" />
              <xs:element name="DotNetTypesFile" type="xs:string" />
              <xs:element name="TemplateGroupFile" type="xs:string" />
              <xs:element name="Self" type="xs:string" />
              <xs:element name="NullToken" type="xs:string" />
              <xs:element name="TrueValue" type="xs:string" />
              <xs:element name="FalseValue" type="xs:string" />
              <xs:element name="LineEnding" type="xs:string" />
              <xs:element name="Comment" type="xs:string" />
              <xs:element name="And" type="xs:string" />
              <xs:element name="Or" type="xs:string" />
              <xs:element name="Concatenation" type="xs:string" />
              <xs:element name="NullablePattern" type="xs:string" />
              <xs:element name="SystemTypeOf" type="xs:string" />
              <xs:element name="ColumnAttributes" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>