PDSC-Haystack/Xsd/ProjectTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProjectTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ProjectType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProjectId" type="xs:unsignedByte" />
              <xs:element name="ProjectName" type="xs:string" />
              <xs:element name="IsIncluded" type="xs:string" />
              <xs:element name="IsSelected" type="xs:string" />
              <xs:element name="IsVisible" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>