PDSC-Haystack/Xsd/RegularExpressions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegularExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="RegularExpressions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Expression" />
              <xs:element name="NamesToMatch" type="xs:string" />
              <xs:element name="Message" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>