PDSC-Haystack/Xsd/ReservedWords.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Words">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ReservedWord">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Word" type="xs:string" />
              <xs:element name="ReplaceWith" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>