PDSC-Haystack/Xsd/SqlServer_Templates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CodeGenTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="CodeGenType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
              <xs:element name="EnumName" type="xs:string" />
              <xs:element name="IsAll" type="xs:string" />
              <xs:element name="IsSearch" type="xs:string" />
              <xs:element name="CodeType" type="xs:string" />
              <xs:element name="DBObjectTypes" type="xs:string" />
              <xs:element name="RegenOnChange" type="xs:string" />
              <xs:element name="SQLFileName" type="xs:string" />
              <xs:element name="SPFileName" type="xs:string" />
              <xs:element name="SPPrefix" type="xs:string" />
              <xs:element name="SPSuffix" type="xs:string" />
              <xs:element name="IsConcurrencyUpdate" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>