PDSC-Haystack/Xsd/StandardFieldList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StandardFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="StandardFieldList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
              <xs:element name="FieldName" type="xs:string" />
              <xs:element name="DefaultValue" type="xs:string" />
               <xs:element name="DefaultValueGlobal" type="xs:string" />
               <xs:element name="IsRequired" type="xs:string" />
              <xs:element name="IsInsertable" type="xs:string" />
              <xs:element name="IsUpdatable" type="xs:string" />
              <xs:element name="IsSelectable" type="xs:string" />
              <xs:element name="DisplayInGrid" type="xs:string" />
              <xs:element name="DisplayInEdit" type="xs:string" />
              <xs:element name="ReturnInService" type="xs:string" />
              <xs:element name="IncludeInAuditTracking" type="xs:string" />
              <xs:element name="IsConcurrency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>