PDSC-Haystack/Xsd/StoredProcGenerateTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StoredProcGenerateType">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="SPGenerateType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GenerateType" type="xs:string" />
              <xs:element name="GetColumns" type="xs:string" />
              <xs:element name="Parameters" type="xs:string" />
              <xs:element name="IsDefault" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>