PDSC-Haystack/Xsd/Templates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Templates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Template">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Language" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="TemplateSubFolder" type="xs:string" />
              <xs:element name="DBObjectType" type="xs:string" />
              <xs:element name="GenerateType" type="xs:string" />
              <xs:element name="GeneratedClass" type="xs:string" />
              <xs:element name="FileName" type="xs:string" />
              <xs:element name="Generate" type="xs:string" />
              <xs:element name="GenerateToSubFolder" type="xs:string" />
              <xs:element name="BaseClassName" type="xs:string" />
              <xs:element name="NamespaceSuffix" type="xs:string" />
              <xs:element name="OutputFileExtension" type="xs:string" />
              <xs:element name="OutputFilePrefix" type="xs:string" />
              <xs:element name="OutputFileSuffix" type="xs:string" />
              <xs:element name="ClassAttributes" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>